&:root {
	--color-primary: #1B1C21;
	--color-backup: #7E7E82;
	--color-bg: #F8F8F8;
	--color-border: #B8FFEC;
	--color-rose: #FF3E79;
	--border-window: #D9FFF5;
	--form--field: #b5b6bc;
	--line--before: #41f6d7;
	--border--slide: #eaeaea;
	--white: #ffffff;
	--shadow-aside: rgba(14, 24, 80, 0.2);
}