@font-face {
	font-family: 'TT Lakes Regular';
	src: url(../../fonts/TTLakes-Regular.eot);
	src: url(../../fonts/TTLakes-Regular.ttf);
	src: url(../../fonts/TTLakes-Regular.woff);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TT Lakes ExtraBold';
	src: url(../../fonts/TTLakes-ExtraBold.eot);
	src: url(../../fonts/TTLakes-ExtraBold.ttf);
	src: url(../../fonts/TTLakes-ExtraBold.woff);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TT Lakes Medium';
	src: url(../../fonts/TTLakes-Medium.eot);
	src: url(../../fonts/TTLakes-Medium.ttf);
	src: url(../../fonts/TTLakes-Medium.woff);
	font-weight: normal;
	font-style: normal;
}
