.card__item--hide {
	color: var(--color-backup);
	line-height: 16px;
	margin-bottom: 4px;
}
.card__item--show {
	line-height: 18px;
	margin-bottom: 16px;
}
.card__button {
	position: absolute;
	bottom: 20px;
	right: 10px;
}
@media (min-width: 768px) {
	.card__item--hide {
		display: none;
	}
	.card__item--show {
		margin: 0;
	}
	.card__button {
		position: static;
		margin-right: auto;
	}
	.card {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.card__item--grow {
		flex-basis: 50%;
	}
}
