.feedback {
    position: fixed;
    top: 0;
    right: -100%;
    background: var(--white);
    transition: all 0.5s ease;
    padding: 24px 16px 0px;
    min-height: 100vh;
    box-shadow: -8px 0px 20px var(--border-window);
  }
  
  .feedback--translate {
    z-index: 11;
    right: 0;
  }
  
  @media (min-width: 768px) {
    .feedback {
      padding: 40px 32px 0px;
    }
  }
  
  .feedback__button {
    margin-bottom: 40px;
  }
  
  @media (min-width: 768px) {
    .feedback__button {
      position: absolute;
      top: 24px;
      left: -62px;
    }
  }
  
  @media (min-width: 1120px) {
    .feedback__button {
      top: 32px;
    }
  }