.logo {
	position: relative;
	&::after {
		content: " ";
		background: var(--border--slide);
		width: 2px;
		height: 32px;
		top: 5px;
		right: -15px;
		position: absolute;
	}
}
.logo__img {
	height: 40px;
}
@media (min-width: 768px) {
	.logo {
		&::after {
			display: none;
		}
	}
}