.repair__title {
	margin: 0 auto;
}
.repair__container {
	padding: 16px 16px 24px;
}
.repair__swiper {
	height: 200px;
	padding-bottom: 40px;
}
.repair__card {
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-basis: 240px;
	height: 160px;
	padding-top: 16px;
	padding-left: 16px;
	background: var(--white);
	border: 1px solid var(--border--slide);
	border-radius: 6px;
	transition: 0.5s all ease;
}
.repair__link {
	position: absolute;
	bottom: 16px;
	right: 16px;
}
.repair__button {
	margin-left: 10px;
}
@media (min-width: 768px) {
	.repair__container {
		padding: 24px 24px 32px;
	}
	.repair__swiper {
		height: 170px;
		overflow: hidden;
		padding-bottom: 0;
	}
	.repair__list {
		display: flex;
		gap: 16px 24px;
		flex-wrap: wrap;
		margin-bottom: 24px;
	}
	.repair__card {
		flex-basis: 224px;
		flex-grow: 1;
	}
}
@media (min-width: 1120px) {
	.repair__container {
		padding: 24px 32px 50px;
	}
	.repair__list {
		gap: 16px 32px;
	}
	.repair__card {
		flex-basis: 240px;
	}
}

.repair__swiper--transform {
	height: auto;
	overflow: visible;
}