@import url(./utils/fonts.scss);
@import url(./utils/normalize.scss);
@import url(./mixins/hover.scss);
@import url(./mixins/blur.scss);
@import url(./mixins/rose.scss);
@import url(./mixins/pagination.scss);
@import url(./blocks/form.scss);
@import url(./blocks/menu.scss);
@import url(./blocks/order.scss);
@import url(./blocks/show-button.scss);
@import url(./blocks/title.scss);
@import url(./utils/colors.scss);
@import url(./blocks/container.scss);
@import url(./mixins/button-reset.scss);
@import url(./mixins/link-reset.scss);
@import url(./mixins/list-reset.scss);
@import url(./blocks/logo.scss);
@import url(./blocks/button.scss);
@import url(./blocks/header.scss);
@import url(./blocks/aside.scss);
@import url(./blocks/wrapper.scss);
@import url(./blocks/about.scss);
@import url(./blocks/brands.scss);
@import url(./blocks/call.scss);
@import url(./blocks/card.scss);
@import url(./blocks/contacts.scss);
@import url(./blocks/feedback.scss);
@import url(./blocks/footer.scss);
@import url(./blocks/info.scss);
@import url(./blocks/languages.scss);
@import url(./blocks/main.scss);
@import url(./blocks/paragraph.scss);
@import url(./blocks/picture.scss);
@import url(./blocks/prices.scss);
@import url(./blocks/repair.scss);
@import url(./blocks/service-menu.scss);
@import url(./blocks/sidebar.scss);
@import url(./blocks/status.scss);


html {
	box-sizing: border-box;
}
*, *::after, *::before {
	box-sizing: inherit;
}
body {
	font-family: 'TT Lakes';
	background: #F2F2F2;
}
